name: Run Python                    #定義workflows的名稱
on: 
    push:                           #有push時執行
    schedule:                       #排程設定
    - cron: 0 * * * *               #crontab格式, 每小時執行

jobs:                               #workflows執行內容
    build:                          
        name: run py1               #任務名稱  
        runs-on: ubuntu-latest      #執行環境
        steps:                      #要執行的每一步
        - uses: actions/checkout@v2 #用github actions的checkout第二版執行
        - name: Run python          #這步的顯示名稱
          run: |
            python3 test.py         #test 執行的程式
              